<div class="sidebar border-r-2 border-gray-200 p-1">
  <ui-list
    class="w-full"
    [options]="layers"
    [optionTemplate]="layerTemplate"
  ></ui-list>
  <ui-button class="w-full" (click)="addLayerActive.set(true)"
    >Add layer</ui-button
  >
</div>
<div class="main">
  <app-map></app-map>
</div>

@if(addLayerActive()) {
<ui-modal [(isActive)]="addLayerActive">
  <ui-text-field placeholder="Name" [(value)]="newLayerName"></ui-text-field>
  <ui-button (click)="addLayerActive.set(false)">Cancel</ui-button>
  <ui-button [disabled]="!newLayerName()" (click)="addLayer()">Add</ui-button>
</ui-modal>
}

<ng-template #layerTemplate let-option>
  <button
    (click)="selectLayer(option)"
    [ngClass]="{
      'border-blue-700 text-blue-700': selectedLayer() === option,
      'border-gray-200': selectedLayer() !== option
    }"
    class="flex flex-column flex-wrap justify-evenly w-full text-sm font-medium border-2 rounded-sm p-1"
  >
    <div class="w-full">{{ option.get('name') }}</div>
    <ui-button class="block w-1/3">Edit</ui-button>
    <ui-button class="block w-1/3" (click)="deleteLayer(option)"
      >Delete</ui-button
    >
  </button>
</ng-template>
