:host {
  display: flex;
  height: 100%;
  --layer-edit-bar-height: 60px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  max-width: 350px;
}

/* .main {
  width: 100%;
  height: 100%;
} */

/* .layer-edit-bar {
  height: var(--layer-edit-bar-height);
} */

app-map {
  /* display: block; */
  /* height: calc(100% - var(--layer-edit-bar-height)); */
}
