//Colors
$color-green: #b9ff66;
$color-dark: #191a23;
$color-gray: #f3f3f3;
$color-black: #000000;
$color-white: #ffffff;

//Fonts
$font-primary: 'Roboto Mono', monospace;
$font-secondary: 'Roboto Slab', serif;
